/* Подключение стилей Vuestic UI */
@import 'vuestic-ui/styles/essential.css'; /* Обязательные стили для компонентов Vuestic */
@import 'vuestic-ui/styles/typography.css'; /* Опционально, для типографики Vuestic */
@import 'vuestic-ui/styles/grid.css'; /* Сетка Vuestic, уже была в app.js */
@import './va-input-coupon.css'; /* Кастомные стили для VaInput при создании купона */
@import './avi-custom.css'; /* Кастомные стили для all */
@import './avi-coupons.css'; /* Кастомные стили для промокодов */
@import './globals.css'; /* Кастомные стили для max-width: 640px */
@import './avi-640.css'; /* Кастомные стили для max-width: 640px */

/* Подключение Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Кастомные стили проекта */
:root {
  --va-font-family: 'Inter', sans-serif; /* Шрифт Inter для Vuestic UI */
}

body {
  font-family: var(--va-font-family); /* Применение шрифта ко всему приложению */
}