.avi-bg-sb {
  background-color: #ecf0f1;
}
.avi-link:hover {
  color: black;
}
.avi-link {
  cursor: pointer;
  border-bottom: solid 1px;
}
.master-color {
  color: var(--va-primary, #154ec1);
}
.truncate {
  white-space: nowrap; /* Запрещаем перенос текста */
  overflow: hidden; /* Скрываем выходящий за границы текст */
  text-overflow: ellipsis; /* Добавляем многоточие */
}
