
.custom-block-discount-box {
  border-width: 2px !important;
  z-index: 0;
}

/* Для псевдоэлемента ::after */
.custom-block-discount-box::after {
  border-width: 2px !important;
}

/* Для состояния фокуса */
.custom-block-discount-box:focus,
.custom-block-discount-box:focus-within,
.custom-block-discount-box:active {
  border-width: 2px !important;
  border-color: var(--va-primary, #154ec1);
  box-shadow: 0 0 0 0 var(--va-primary, #154ec1);
  outline: none;
  z-index: 1;
}

/* Для VaInput внутреннего input при фокусе */
.custom-block-discount-box input:focus {
  border-width: 2px !important;
  box-shadow: 0 0 0 0px var(--va-primary, #154ec1);
  border-color: var(--va-primary, #154ec1);
  outline: none;
  z-index: 1;
}

.custom-input-coupon {
  text-transform: uppercase;
}

.custom-input-coupon {
  text-transform: uppercase;
  font-weight: normal;
  /* Базовый вес шрифта для input */
}

/* Стили для placeholder */
.custom-input-coupon::placeholder {
  font-weight: 100;
  /* Тонкий шрифт */
  opacity: 0.7;
  /* Необязательное свойство для прозрачности */
}

/* Для Chrome, Safari, Opera */
.custom-input-coupon::-webkit-input-placeholder {
  font-weight: 100;
}

/* Для Firefox */
.custom-input-coupon::-moz-placeholder {
  font-weight: 100;
  opacity: 1;
}

/* Для Edge и IE */
.custom-input-coupon:-ms-input-placeholder {
  font-weight: 100;
}